html {
  box-sizing: border-box;
  scroll-behavior: auto;
  overflow-x: hidden;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: #333;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
  outline-color: #78cad2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}
button {
  padding: 0;
}
::-webkit-scrollbar {
  width: 0px;
}
#scrlbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  border-radius: 10px;
  background: rgb(76, 215, 232);
  background: linear-gradient(
    to top,
    rgb(49, 97, 104) 12%,
    rgba(120, 202, 210, 1) 86%,
    rgb(64, 189, 206) 65%
  );
}
.wrapper-global {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.title {
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 42px;
  @extend %tm-bold;
  text-align: center;
  color: #000;
  span {
    position: relative;
  }
  span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #78cad2;
    left: 0;
    bottom: -5px;
  }
}
.page-section {
  padding: 100px 0px;
}
.slick-track {
  margin-bottom: 20px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  li {
    width: 20px;
    height: 20px;
    border: 1px solid #78cad2;
    border-radius: 50%;
    &::before {
      position: absolute;
      content: "";

      background-color: inherit;
      bottom: 0;
    }
    & + li {
      margin-left: 10px;
    }
    &.slick-active {
      border: 1px solid #78cad2;
      background-color: #78cad2;
    }
  }
  button {
    visibility: hidden;
  }
}
