@media (max-width: 1140px) {
  .services__inner {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
@media (max-width: 940px) {
  #scrlbar {
    width: 2px;
  }
  .marker {
    display: none;
  }
  .header__logo {
    margin-left: 50px;
  }
  .header-menu {
    order: -1;
  }
  .header-menu__list {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(#1c1c1c, 1);
    z-index: -1;
    padding-top: 80px;
    transform: translateX(-150%);
    transition: transform 0.5s;
    color: #fff;
    &--active {
      transform: translateX(0%);
    }
    &-item:not(:last-child) {
      margin-right: 0;
    }
  }
  .header-menu__btn {
    background: transparent;
    border: none;
    padding: 0;
    display: block;
    cursor: pointer;
    outline: none;
    position: absolute;
    bottom: 0px;
  }
  .header-menu__btn::before,
  .header-menu__btn::after {
    content: "";
    width: 24px;
    height: 2px;
    background-color: $mc;
    display: block;
    margin-bottom: 4px;
    transition: transform 0.3s;
  }
  .header-menu__btn::after {
    margin-bottom: 0;
    margin-left: auto;
  }
  .header-menu__btn-line {
    background-color: $mc;
    display: block;
    width: 24px;
    height: 2px;
    margin-bottom: 4px;
    opacity: 1;
    transition: opacity 0.7s;
  }
  .header-menu__btn.header-menu__btn--active {
    .header-menu__btn-line {
      opacity: 0;
      transition: opacity 0s;
    }
    &::after {
      transform: translateY(-6px) rotate(-135deg);
    }
    &::before {
      transform: translateY(6px) rotate(135deg);
    }
  }
  .translate-box {
    margin: 0;
  }
  .about__img {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .grid-container {
    grid-template-columns: 1fr;
    .works__gallery {
      &:nth-child(1) {
        grid-column: span 2;
        grid-row: span 1;
      }
      &:nth-child(2) {
        grid-column: span 1;
        grid-row: span 2;
      }
      &:nth-child(4) {
        grid-column: span 1;
        grid-row: span 1;
      }
      &:nth-child(5) {
        grid-column: span 1;
        grid-row: span 2;
      }
      &:nth-child(6) {
        grid-column: span 1;
        grid-row: span 2;
      }
      &:nth-child(7) {
        grid-column: span 3;
        grid-row: span 2;
      }
    }
  }
}
@media (max-width: 688px) {
  .header__logo-link {
    font-size: 28px;
  }
  .header-menu__btn {
    bottom: -6px;
  }
  .translate-box .translate {
    font-size: 16px;
  }
  .translate-box .rus-btn::after {
    height: 16px;
  }
  .main__inner {
    padding-left: 70px;
  }
  .main__info-name {
    font-size: 32px;
    margin-bottom: 15px;
  }
  .main__sprite-list {
    a {
      width: 32px;
      height: 32px;
    }
    .sprite-ink {
      background-position: -33px 0;
    }
    .sprite-tw {
      background-position: -66px 0;
    }
    .sprite-tg {
      background-position: -97px 0;
    }
  }
  .main__info-title {
    font-size: 58px;
    line-height: 64px;
  }
  .main__info-link {
    padding-bottom: 20px;
    a {
      width: 160px;
      font-size: 14px;
    }
  }
  .grid-container {
    grid-template-columns: 1fr;
    .works__gallery {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }
}
@media (max-width: 598px) {
  .main__inner {
    padding-left: 90px;
  }
  .main__info-name {
    font-size: 28px;
    line-height: 32px;
  }
  .main__info-title {
    font-size: 42px;
    line-height: 42px;
  }
  .main__info-link a {
    width: 140px;
    font-size: 12px;
  }
  .about__img {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  .services__inner {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}
@media (max-width: 520px) {
  .about__skills-inner {
    flex-wrap: wrap;
    align-items: center;
  }
  .about__list {
    border: none;
    margin-bottom: 40px;
    padding-right: 0;
  }
  .title {
    font-size: 32px;
  }
  .works__btn {
    font-size: 16px;
  }
  .services__name {
    font-size: 22px;
  }
  .about__cv-link.lang {
    font-size: 16px;
  }
  .footer__icon {
    font-size: 16px;
  }
}
@media (max-width: 432px) {
  .main__inner {
    padding-left: 25px;
  }
  .main__info-name {
    font-size: 26px;
    line-height: 28px;
  }
  .main__info-title {
    font-size: 46px;
    line-height: 48px;
  }
  .main__info-link a {
    width: 140px;
    font-size: 12px;
  }
  .icon-phone {
    margin-right: 70px;
  }
}
@media (max-width: 354px) {
  .main__info-link a {
    width: 120px;
    font-size: 10px;
  }
  .main__info-title {
    font-size: 38px;
    line-height: 42px;
  }
  .main__inner {
    padding-left: 10px;
  }
}
