$mc: #78cad2;
%tm-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
}
%tm-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}
%sn-regular {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 400;
}
%sn-bold {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
}
